.app__navbar {
    height: 50px;
    border-bottom: 0.5px solid red;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: gray;

    .app__navbar-wrapper {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .app__navbar-search {
            display: flex;
            align-items: center;
            border: 0.5px solid lavender;
            padding: 3px;
        }

        .input {
            border: none;
            outline: none;
            background: transparent;

            &::placeholder {
                font-size: 12px;
            }
        }
    }

    .app__navbar-items {
        display: flex;
        align-items: center;

        .app__navbar-item {
            display: flex;
            align-items: center;
            margin-right: 20px;
            position: relative;

            .app__navbar-icon {
                font-size: 20px;
            }

            .app__navbar-avatar {
                width: 30px;
                height: 30px;
            }

            .app__navbar-counter {
                width: 15px;
                height: 15px;
                background-color: red;
                border-radius: 50%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                font-weight: 700;
                position: absolute;
                top: -5px;
                right: -5px;
            }
        }
    }
}